$primary: #00adb5;
$secondary: #393e46;
$dark: #222831;

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

$black: #000;
$red: #f00;
$green: #080;
$grey: #6c757d;

body {
  background-image: url('public/seigaiha.png');
  display: grid;
  grid-template-rows: max-content auto;
  min-height: 100vh;
}

html {
  transition: opacity 400ms ease-in;
}

.col-4 {
  border-bottom: 5px solid;
  border-right: 5px solid;
  padding: 0;

  &:nth-child(3n) {
    border-right: 0;
  }

  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }
}

.container {
  height: 70vmin;
  width: 70vmin;
}

.dropdown-menu {
  width: 300px;
}

.game-square {
  align-items: center;
  color: $primary;
  display: flex;
  font-family: 'Permanent Marker', cursive;
  font-size: 20vmin;
  height: calc(100% / 3);
  justify-content: center;
}

.message {
  display: flex;
}

.navbar-brand {
  font-family: 'Permanent Marker', cursive;
}

.no-select {
  user-select: none;
}

.row {
  height: 100%;
}

.status > h3 {
  font-size: 3vmin;
}

.welcome {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.welcome > h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 10vw;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .navbar-brand {
    font-size: 3rem;
  }
}
