@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

$black: #000;
$red: #f00;
$green: #080;
$grey: #6c757d;

.container {
  width: 300px;
}

.dropdown-menu {
  width: 300px;
}

.game-square {
  align-items: center;
  color: $grey;
  display: flex;
  font-family: 'Permanent Marker', cursive;
  font-size: 120px;
  height: 100px;
  justify-content: center;
}

@media (min-width: 576px) {
  .container {
    width: 600px;
  }

  .dropdown-menu {
    width: 300px;
  }

  .game-square {
    height: 200px;
  }
}
